$logoColor : #0067ac;
$wooriBoldColor: #0078b9;
$wooriMiddleColor: #20c4f4;
$wooriAppColor : #4285f4;
$hamburgerColor : #5b9ad5;

.content {
  width: 100%;
  height: 100%;
}
.nav{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #00000033;
}

.wooridrawer{
    width: 100%;
    height: 100%;
    background-color: #4c8ae6;
}

.float{
  float: left;
}